@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<header class="main-header">
    <!-- Start Logo -->

    <a asp-controller="Home" asp-action="Module" class="logo">


        <span class="logo-lg">
            @{
                var logo = HttpContextAccessor.HttpContext.Session.GetString("CompanyLogo");
                var logoPath = string.IsNullOrEmpty(logo) ? Url.Content("~/Images/netsoftSolution.png") : Url.Content(logo);
            }

            <img src="@logoPath" height="50" width="50"           onerror="this.onerror=null;this.src='@Url.Content("~/Images/netsoftSolution.png")';" />

        </span>

    </a>
    <!--  END Logo -->


    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">

        <!-- Sidebar toggle -->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <label class="control-label"></label>
            <ul class="nav navbar-nav">
                @* <partial name="_LoginPartial" /> *@
            </ul>
        </div>
    </nav>
</header>